.collector-bank-selected .place-order,
.collector-bank-selected #place_order, 
.collector-bank-selected ul.payment_methods, 
.collector-bank-selected p.wc-terms-and-conditions {
    display:none;
}
/* Tabs */
ul.collector-checkout-tabs {
	padding: 0px;
	list-style: none;
	margin: 0 0 -1px 0;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}
ul.collector-checkout-tabs li {
	display: inline-block;
	cursor: pointer;
	position: relative;
}
/* Radio button layout */
ul.collector-checkout-tabs li {
	margin-right: 8px;
	padding-left: 30px;
	font-weight: bold;
}
ul.collector-checkout-tabs li:before {
	border-radius: 50%;
	width: 20px;
    height: 20px;
    content: ' ';
    position: absolute;
    left: 0;
    background: #ffffff;
    border: 2px solid #BBBBBB;
}
ul.collector-checkout-tabs li:hover:before {
	 border: 2px solid grey;
}
ul.collector-checkout-tabs li.current:before {
    border-color: #75BAFF;
}
ul.collector-checkout-tabs li.current:after {
    position: absolute;
    top: 6px;
    left: 6px;
    content: ' ';
    border: 6px solid #000000;
    border-radius: 50%;
}

/*
ul.collector-checkout-tabs li {
	background: #f2f2f2;
	color: #A09E9E;
	border: 1px solid #e2e2e2;
	padding: 10px 15px;
	margin: 0 -8px 0 0;
	z-index: 1000;
}

ul.collector-checkout-tabs li.current {
	background: #3d9cd2;
	color: #ffffff;
	
	border: 1px solid #3d9cd2;
	border-bottom: none;
}
li.tab-link.current[data-tab="b2c"] {
	z-index: 1100;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.2);
}
li.tab-link.current[data-tab="b2b"] {
	z-index: 1100;
	box-shadow: -1px 0px 1px 0px rgba(0,0,0,0.2);
}
#collector-bank-iframe {
	border: 1px solid #e2e2e2;
	border-radius: 0 6px 6px 6px;
	min-height: 748px;
}
.collector-b2b #collector-bank-iframe,
.collector-b2c #collector-bank-iframe {
	border-radius: 6px 6px 6px 6px;
}
*/

#collector_change_payment_method {
	margin-bottom: 15px;
}
.collector-checkout-thankyou {
	min-height: 431px;
}
.woocommerce-order-received.collector-b2c-b2b .woocommerce-order-details,
.woocommerce-order-received.collector-b2c .woocommerce-order-details,
.woocommerce-order-received.collector-b2b .woocommerce-order-details,
.woocommerce-order-received.collector-b2c-b2b h1.entry-title,
.woocommerce-order-received.collector-b2c h1.entry-title,
.woocommerce-order-received.collector-b2b h1.entry-title {
	width: 87.5%;
	margin-left: auto;
	margin-right: auto;
}